{% extends "base.html.twig" %} {% block body %}

<!-- Custom Cursor -->
<div id="cursor"></div>
<!-- end Custom Cursor -->

<!-- Header -->
{{ include("./includes/navbar.html.twig") }}
<!-- end Header -->

<!-- About section -->
<div class="section">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-12 col-lg-6">
        <img
          class="box-shadow-with-hover"
          src="{{ asset('frontoffice/') }}images/about-1.jpg"
          alt="image capital rh solutions"
        />
      </div>
      <div class="col-12 col-lg-6">
        <h4 class="fw-light margin-bottom-20 fw-bold">CAPITAL RH SOLUTIONS</h4>
        <p style="text-align: justify">
          Innovante et ambitieuse, CAPITAL RH Solutions est une agence basée au
          Cameroun, dans la ville de Douala. Elle est spécialisée dans le
          recrutement et le placement de personnel de maison, de personnel
          hôtelier, etc…. Soucieuse des difficultés rencontrées par les
          particuliers et les entreprises de nos grandes métropoles à trouver un
          personnel qualifié capable de répondre à leurs différents besoins,
          elle souhaite faciliter et développer une interaction humaine fluide
          entre ceux-ci et les candidats répondant à leurs critères.
        </p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end About section -->
<div class="section">
  <div class="container">
    <div class="row icon-5xl g-4">
      <div class="col-12 col-lg-4">
        <div class="border border-radius hover-shadow hover-float p-4 p-lg-5">
          <i class="bi bi-bullseye text-turquiose"></i>
          <h5 class="fw-normal mt-2">Notre vision</h5>
          <p>
            Notre objectif est de trouver des collaborateurs en qui les
            employeurs placeront toute leur confiance sans aucune complaisance.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="border border-radius hover-shadow hover-float p-4 p-lg-5">
          <i class="bi bi-briefcase text-turquiose"></i>
          <h5 class="fw-normal mt-2">Notre mission</h5>
          <p>
            Notre but premier est de créer des liens d’affaires durables de
            manière significative à leur croissance, leur développement et leur
            probabilité, en mettant notre savoir-faire au service des
            entreprises.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="border border-radius hover-shadow hover-float p-4 p-lg-5">
          <i class="bi bi-suit-heart text-turquiose"></i>
          <h5 class="fw-normal mt-2">Nos valeurs</h5>
          <p>
            La
            <span style="color: #2a5b97; font-weight: bold">transparence</span>,
            <span style="color: #2a5b97; font-weight: bold">l’intégrité</span>,
            la
            <span style="color: #2a5b97; font-weight: bold"
              >confidentialité</span
            >
            et la
            <span style="color: #2a5b97; font-weight: bold">convivialité</span>
            sont les atouts qui font de nous l’un des leaders en ce qui concerne
            le placement des personnes.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- end container -->
</div>
<!-- Services section -->
<div class="section">
  <div class="container">
    <div class="row">
      <h4 class="text-center text-uppercase">Notre démarche</h4>
    </div>
    <div class="row icon-5xl g-4 g-lg-5">
      <div class="col-12 col-md-4">
        <i class="fas fa-search-plus"></i>
        <h5 class="fw-medium mt-2">Étude de vos besoins</h5>
        <p>
          Que ce soit pour une demande de femme de ménage, de majordome, de
          nanny ou de chauffeur, chaque candidature reçue est étudiée avec le
          plus grand soin, car nous voulons vous proposer le candidat idéal,
          celui dont les compétences et la motivation correspondent à vos
          besoins et à vos attentes.
        </p>
      </div>
      <div class="col-12 col-md-4">
        <i class="fas fa-user-check"></i>
        <h5 class="fw-medium mt-2">Recherche du candidat</h5>
        <p>
          Nous étudions ensemble vos besoins, vos attentes, votre profil de
          candidat idéal, ce que vous voulez, ce que vous ne voulez pas, afin de
          cerner au mieux votre demande. Cette étude terminée nous commençons
          notre recherche.
        </p>
      </div>
      <div class="col-12 col-md-4">
        <i class="fab fa-hire-a-helper"></i>
        <h5 class="fw-medium mt-2">Processus de recrutement</h5>
        <p>
          Après étude des certificats, diplômes et lettres de recommandation…
          les candidats aux profils requis sont contactés pour un entretien
          téléphonique. Ceux qui sont sélectionnés sont ensuite convoqués pour
          une entrevue avec l’un de nos responsables en recrutement.
        </p>
      </div>
    </div>
  </div>

  <!-- end container -->
</div>
<!-- end Services section -->

{{ include("./includes/footer.html.twig") }}

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
<!-- end Scroll to top button -->
{% endblock %}
