{% extends "base.html.twig" %} {% block body %}
<!-- Custom Cursor -->
<div id="cursor"></div>
<!-- end Custom Cursor -->

<!-- Header -->
{{ include("./includes/navbar.html.twig") }}
<!-- end Header -->

<!-- About section -->
<div class="section">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-12 col-lg-6">
        <img
          class="box-shadow-with-hover"
          src="{{ asset('frontoffice/') }}images/img-19.jpg"
          alt="image capital rh solutions"
        />
      </div>
      <div class="col-12 col-lg-6">
        <h4 class="fw-light margin-bottom-20 fw-bold">CAPITAL RH SOLUTIONS</h4>
        <p style="text-align: justify">
          spécialiste dans le placement de personnel recrute et place du
          personnel de maison hautement qualifié : majordome, gouvernant(e) de
          maison, gouvernant(e) d’enfant, employé(e) de maison, femme ou homme
          de ménage, intendant, jardinier, chauffeur… chez les particuliers,
          dans les entreprises et dans l’hôtellerie de luxe.
        </p>
        <p style="text-align: justify">
          Nous offrons à chacun de nos clients des solutions en phase avec leurs
          besoins en personnel ponctuel ou de plus longue durée.
        </p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end About section -->

<!-- Services section -->

<!-- end Services section -->

{{ include("./includes/footer.html.twig") }}

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
<!-- end Scroll to top button -->
{% endblock %}
