{% extends "base.html.twig" %} {% block body %}

<!-- Custom Cursor -->
<div id="cursor"></div>
<!-- end Custom Cursor -->

<!-- Header -->
{{ include("./includes/navbar.html.twig") }}
<!-- end Header -->

<!-- About section -->
<div class="section">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-12 col-lg-6" data-sal="slide-right" data-sal-delay="100">
        <img
          class="box-shadow-with-hover"
          src="{{ asset('frontoffice/') }}images/about-1.jpg"
          alt="image capital rh solutions"
        />
      </div>
      <div class="col-12 col-lg-6">
        <h4 class="fw-light margin-bottom-20 fw-bold" style="color: #2a5b97">
          CAPITAL RH SOLUTIONS
        </h4>
        <p style="text-align: justify" class="fs-6 text-dark">
          Innovante et ambitieuse, CAPITAL RH Solutions est une agence basée au
          Cameroun, dans la ville de Douala. Elle est spécialisée dans le
          recrutement et le placement de personnel de maison, de personnel
          hôtelier, etc…. Soucieuse des difficultés rencontrées par les
          particuliers et les entreprises de nos grandes métropoles à trouver un
          personnel qualifié capable de répondre à leurs différents besoins,
          elle souhaite faciliter et développer une interaction humaine fluide
          entre ceux-ci et les candidats répondant à leurs critères.
        </p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end About section -->
<div class="section">
  <div class="container">
    <div class="row icon-5xl g-4">
      <div class="col-12 col-lg-4">
        <div class="border border-radius hover-shadow hover-float p-4 p-lg-5">
          <i class="bi bi-bullseye text-turquiose" style="color: #2a5b97"></i>
          <h5 class="fw-normal mt-2" style="color: #2a5b97">Notre vision</h5>
          <p style="text-align: justify" class="text-dark">
            Devenir la référence en matière de recrutement et placement de 
            personnel à l'échelle nationale et internationale.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="border border-radius hover-shadow hover-float p-4 p-lg-5">
          <i class="bi bi-briefcase text-turquiose" style="color: #2a5b97"></i>
          <h5 class="fw-normal mt-2" style="color: #2a5b97">Notre mission</h5>
          <p style="text-align: justify" class="text-dark">
            Offrir aux particuliers et aux entreprises des prestations taillées
            sur-mesure et à la hauteur de leurs attentes.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="border border-radius hover-shadow hover-float p-4 p-lg-5">
          <i class="bi bi-suit-heart text-turquiose" style="color: #2a5b97"></i>
          <h5 class="fw-normal mt-2" style="color: #2a5b97">Nos valeurs</h5>
          <p style="text-align: justify" class="text-dark">
            La
            <span style="color: #2a5b97; font-weight: bold">transparence</span>,
            <span style="color: #2a5b97; font-weight: bold">l’intégrité</span>,
            la
            <span style="color: #2a5b97; font-weight: bold"
              >confidentialité</span
            >
            et l'
            <span style="color: #2a5b97; font-weight: bold">exigence</span>
            sont les valeurs qui font de nous le choix par excellence en matière
            de placement de personnel.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- end container -->
</div>
<!-- Services section -->

<!-- end Services section -->

{{ include("./includes/footer.html.twig") }}

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
<!-- end Scroll to top button -->
{% endblock %}
