{% extends "base.html.twig" %} {% block body %}

<!-- GDPR - Cookie Consent -->
<div
  id="cookie-consent"
  class="consent-hidden bg-black-09 padding-30 padding-lg-50 text-center"
>
  <p class="font-large">This website uses cookies & third party services</p>
  <a
    id="accept-consent"
    class="button button-md button-white-3 button-rounded margin-top-20"
    href="#"
    >Accept & Close</a
  >
</div>
<!-- end GDPR - Cookie Consent -->

<!-- Custom Cursor -->
<div id="cursor"></div>
<!-- end Custom Cursor -->

<!-- Header -->
{{ include("./includes/navbar.html.twig") }}
<!-- end Header -->
<style>
  .bold-text {
    font-weight: bold;
    color: #3daa35;
  }
</style>

<div class="section-sm bg-grey-lighter">
  <div class="container text-center">
    <h1 class="fw-light margin-0">
      CAPITAL RH SOLUTIONS MENTIONS LÉGALES, CONDITIONS GÉNÉRALES D’UTILISATION
      & CONFIDENTIALITÉ
    </h1>
  </div>
  <!-- end container -->
</div>

<div class="section">
  <div class="container">
    <div class="row g-4">
      <div class="col-12 col-lg-12">
        <h5 style="text-align: center; text-transform: uppercase">
          Mentions légales
        </h5>
        <p style="text-align: justify">
          <span class="bold-text">Capital Rh Solutions</span> est une ferme
          intégrée basé au <span class="bold-text">Cameroun</span> dans la ville
          de <span class="bold-text">Yaoundé</span> depuis quelques années. Son
          but principal est de produire une quantité plus que suffisante des
          matières premières de ressource alimentaire, afin d’assurer la bonne
          alimentation, la reproduction, le survis des animaux et des
          populations du Cameroun voire même de toute l’Afrique. Nous avons
          décidé de combiner élevage et agriculture pour faire ressortir de
          meilleurs produits. En fait, nous avons opter pour des
          <span class="bold-text">engrais naturels</span>, pour conserver la
          saveur naturelle des produits et la texture du sol. Les
          <span class="bold-text">engrais naturels</span> sont très efficaces
          pour les plantes, et les cultures maraichers. Alors les fientes
          d’animaux que nous élevons qui constituent soit des engrais, soit des
          médicaments utiles pour d’autres animaux. Ça réduit non seulement le
          nombre de dépenses et aussi garantir des cultures bio et des animaux
          en bonne santé. Faites nous confiance et contacter nous ; vous
          bénéficierez des meilleurs produits alimentaires.
        </p>
        <h6>infos capital rh solutions</h6>
        <ul class="list-icon list-icon-circle-check">
          <li>Raison sociale : capital rh solutions</li>
          <li>Adresse : LOGONE SARL</li>
          <li>Gerant : LOGONE SARL</li>
          <li>RCS : LOGONE SARL</li>
          <li>Secteur d'activité : LOGONE SARL</li>
          <li>Téléphone : LOGONE SARL</li>
          <li>Email : contact@capitalrhsolutions.com</li>
        </ul>
        <h6>Coordonnées de l'hébergeur</h6>
        <ul class="list-icon list-icon-caret">
          <li>Raison sociale : IONOS SARL</li>
          <li>
            Adresse : 7, place de la Gare, BP 70109, 57200 Sarreguemines Cedex
          </li>
          <li>RCS : 431 303 775</li>
          <li>Téléphone : +33 0970 808 911</li>
          <li>Email : info@IONOS.fr</li>
        </ul>
        <h6>Coordonnées du développeur</h6>
        <ul class="list-icon list-icon-circle-arrow">
          <li>Raison sociale : LOGONE SARL</li>
          <li>Adresse : Rue Mohamed Badra, Montplaisir Tunis 1073</li>
          <li>RCS : 431 303 775</li>
          <li>Téléphone : +237 6 52 10 98 85 / +216 20 891 449</li>
          <li>Email : emmanuelbenjamin@logonedigital.com</li>
          <li>
            Site web :
            <a
              style="text-decoration: underline; color: #3daa35"
              href="https://logonedigital.com"
              target="_blank"
              >www.logonedigital.com</a
            >
          </li>
          <li>
            Facebook :
            <a
              style="text-decoration: underline; color: #3daa35"
              href="https://www.facebook.com/Logonedigital/"
              target="_blank"
              >logonedigital</a
            >
          </li>
          <li>
            linkedIn :
            <a
              style="text-decoration: underline; color: #3daa35"
              href="https://www.linkedin.com/company/logonedigital/"
              target="_blank"
              >logonedigital</a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<div class="section padding-top-0">
  <div class="container">
    <div class="row g-4">
      <div class="col-12">
        <h5 style="text-align: center">CONDITIONS GÉNÉRALES D’UTILISATION</h5>
        <p style="text-align: justify">
          Toutes les présentes conditions s’appliquent pour l’ensemble du site
          <a
            style="text-decoration: underline; color: #3daa35"
            href="https://capitalrhsolutions.com"
            target="_blank"
            >www.capitalrhsolutions.com</a
          >, incluant les sous-domaines et autres noms de domaine appartenant à
          capital rh solutions.
        </p>
        <h6>condition de reprise du contenu</h6>
        <p style="text-align: justify">
          Tout contenu, images, logos, noms de domaines, articles, associés au
          nom de marque
          <a
            style="text-decoration: underline; color: #3daa35"
            href="https://capitalrhsolutions.com"
            target="_blank"
            >www.capitalrhsolutions.com</a
          >
          appartient à la société
          <span class="bold-text">CAPITAL RH SOLUTION</span> et est protégé par
          les lois en vigueur relatives à la propriété intellectuelle. La
          reprise de ces contenus doit faire l’objet d’une autorisation de la
          société <span class="bold-text">CAPITAL RH SOLUTION</span>. Aucune
          élément graphique, image, texte, composant le site internet
          <a
            style="text-decoration: underline; color: #3daa35"
            href="https://capitalrhsolutions.com"
            target="_blank"
            >www.capitalrhsolutions.com</a
          >
          ne peut être repris et utilisé sur un autre support que
          <a
            style="text-decoration: underline; color: #3daa35"
            href="https://capitalrhsolutions.com"
            target="_blank"
            >www.capitalrhsolutions.com</a
          >
          de manière partielle ou intégrale, sans autorisation écrite de la
          société
          <span class="bold-text">CAPITAL RH SOLUTION</span>.
        </p>
        <h6>Liens hypertextes et référencement naturel</h6>
        <p style="text-align: justify">
          Notre équipe d’experts SEO veillent chaque jour à ce que les liens
          hypertextes postés sur notre site internet et dans nos articles de
          blog fonctionnent et dirigent correctement vers leur page de
          destination. Cependant, si vous remarquez des liens cassés, n’hésitez
          pas à nous le faire remarquer en nous envoyant un e-mail à cette
          adresse : contact@scooposferaga.fr Toute stratégie de netlinking
          abusive visant à diriger des liens hypertextes de mauvaise qualité
          vers les sites de
          <a
            style="text-decoration: underline; color: #3daa35"
            href="https://capitalrhsolutions.com"
            target="_blank"
            >www.capitalrhsolutions.com</a
          >
          est passive de poursuite judiciaire de notre part. Les directeurs de
          publication de <span class="bold-text">CAPITAL RH SOLUTION</span> ne
          peuvent être tenus pour responsable d’un préjudice né de
          l’interprétation d’une information pouvant figurer sur le site
          <a
            style="text-decoration: underline; color: #3daa35"
            href="https://capitalrhsolutions.com"
            target="_blank"
            >www.capitalrhsolutions.com</a
          >
        </p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<div class="section padding-top-0">
  <div class="container">
    <div class="row g-4">
      <div class="col-12">
        <h5 style="text-align: center">
          POLITIQUE DE CONFIDENTIALITÉ ET DONNÉES PERSONNELLES
        </h5>
        <h6>Commentaires</h6>
        <p style="text-align: justify">
          Lorsque vous déposez un commentaire sur notre site web à la suite d’un
          article de blog, votre adresse IP, navigateur internet et données
          inscrites dans votre commentaire sont automatiquement collectées afin
          de nous permettre de filtrer les commentaires indésirables.
        </p>
        <h6>Formulaires</h6>
        <p style="text-align: justify">
          Lorsque vous entrez en contact avec
          <span class="bold-text">CAPITAL RH SOLUTION</span> via les formulaires
          de contact et de demande de devis présents sur les pages de notre site
          internet, nous collectons les informations inscrites dans les champs
          de ce formulaire de contact, à savoir : votre nom, prénom, site
          internet, numéro de téléphone, et le message renseigné. Ces données
          sont conservées dans des fichiers informatisés afin d’entrer en
          contact plus facilement avec nos clients et prospects. Nous ne
          partageons par ces données avec des supports extérieurs à
          <span class="bold-text">CAPITAL RH SOLUTION</span>.
        </p>
        <h6>Cookies</h6>
        <p style="text-align: justify">
          Nous utilisons Google Analytics afin de mesurer et analyser l’audience
          et le trafic de notre site internet. Cet outil Analytics installe un
          cookie sur le navigateur internet de nos visiteurs afin de collecter
          les données géographiques et de navigation sur le site
          <a
            style="text-decoration: underline; color: #3daa35"
            href="https://capitalrhsolutions.com"
            target="_blank"
            >www.capitalrhsolutions.com</a
          >
          Nous vous conseillons de consulter les Conditions d’Utilisation de
          Google Analytics.
        </p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>

{{ include("./includes/footer.html.twig") }}

<!-- ***** JAVASCRIPTS ***** -->
{% endblock %}
