{% extends "base.html.twig" %} {% block body %}

<!-- GDPR - Cookie Consent -->
<div
  id="cookie-consent"
  class="consent-hidden bg-black-09 padding-30 padding-lg-50 text-center"
>
  <p class="font-large">This website uses cookies & third party services</p>
  <a
    id="accept-consent"
    class="button button-md button-white-3 button-rounded margin-top-20"
    href="#"
    >Accept & Close</a
  >
</div>
<!-- end GDPR - Cookie Consent -->

<!-- Custom Cursor -->
<div id="cursor"></div>
<!-- end Custom Cursor -->

<!-- Header -->
{{ include("./includes/navbar.html.twig") }}
<!-- end Header -->
<style>
  .bold-text {
    font-weight: bold;
    color: #2a5b97;
  }
</style>

<div class="section-sm bg-grey-lighter">
  <div class="container text-center">
    <h1 class="fw-light margin-0">
      CAPITAL RH SOLUTIONS MENTIONS LÉGALES, CONDITIONS GÉNÉRALES D’UTILISATION
      & CONFIDENTIALITÉ
    </h1>
  </div>
  <!-- end container -->
</div>

<div class="section">
  <div class="container">
    <div class="row g-4">
      <div class="col-12 col-lg-12">
        <h5 style="text-align: center; text-transform: uppercase">
          Mentions légales
        </h5>
        <p style="text-align: justify">
          <span class="bold-text">CAPITAL RH SOLUTIONS</span>, spécialiste du
          travail temporaire et du placement de personnel recrute et place du
          personnel de maison hautement qualifié :
          <span class="bold-text">majordome</span>,
          <span class="bold-text">gouvernant(e) de maison</span> ,
          <span class="bold-text">gouvernant(e) d’enfant</span>,
          <span class="bold-text"> employé(e) de maison</span> ,
          <span class="bold-text">femme ou homme de ménage</span>,
          <span class="bold-text">intendant, jardinier</span>,
          <span class="bold-text">chauffeur</span> … chez les particuliers, dans
          les entreprises et dans l’hôtellerie de luxe. Nous offrons à chacun de
          nos clients des solutions en phase avec leurs besoins en personnel
          ponctuel ou de plus longue durée. Nous sommes à votre disposition et
          mettons tout en oeuvre pour vous trouver le meilleur candidat, celui
          qui conviendra à toutes vos attentes.
        </p>
        <h6>infos capital rh solutions</h6>
        <ul class="list-icon list-icon-circle-check">
          <li>
            Raison sociale :
            <span class="text-uppercase fw-bold" style="color: #2a5b97"
              >capital rh solutions</span
            >
          </li>
          <li>
            Adresse :
            <span class="text-uppercase fw-bold" style="color: #2a5b97"
              >b.p 4014 douala</span
            >
          </li>
          <li>
            Gerant :
            <span class="text-uppercase fw-bold" style="color: #2a5b97"
              >capital rh solutions</span
            >
          </li>
          <li>
            RCS :
            <span class="text-uppercase fw-bold" style="color: #2a5b97"
              >n°rc-rc/dlm/2021/b/875</span
            >
          </li>
          <li>
            Secteur d'activité :
            <span class="text-uppercase fw-bold" style="color: #2a5b97"
              >resources humaines</span
            >
          </li>
          <li>
            Téléphone :
            <span class="text-uppercase fw-bold" style="color: #2a5b97"
              >(+237) 693 058 485 / 674 573 563</span
            >
          </li>
          <li>
            Email :<span class="text-uppercase fw-bold" style="color: #2a5b97"
              >contact@capitalrhsolutions.com</span
            >
          </li>
        </ul>
        <h6>Coordonnées de l'hébergeur</h6>
        <ul class="list-icon list-icon-caret">
          <li>
            Raison sociale :
            <span class="text-uppercase fw-bold" style="color: #2a5b97"
              >IONOS SARL</span
            >
          </li>
          <li>
            Adresse :<span class="text-uppercase fw-bold" style="color: #2a5b97"
              >7, place de la Gare, BP 70109, 57200 Sarreguemines Cedex</span
            >
          </li>
          <li>
            RCS :<span class="text-uppercase fw-bold" style="color: #2a5b97"
              >431 303 775</span
            >
          </li>
          <li>
            Téléphone :<span
              class="text-uppercase fw-bold"
              style="color: #2a5b97"
              >+33 0970 808 911</span
            >
          </li>
          <li>
            Email :<span class="text-uppercase fw-bold" style="color: #2a5b97"
              >info@IONOS.fr</span
            >
          </li>
        </ul>
        <h6>Coordonnées du développeur</h6>
        <ul class="list-icon list-icon-circle-arrow">
          <li>
            Raison sociale :<span
              class="text-uppercase fw-bold"
              style="color: #2a5b97"
              >LOGONE SARL</span
            >
          </li>
          <li>
            Adresse :<span class="text-uppercase fw-bold" style="color: #2a5b97"
              >Rue Mohamed Badra, Montplaisir Tunis 1073</span
            >
          </li>
          <li>
            RCS :
            <span class="text-uppercase fw-bold" style="color: #2a5b97"
              >b011285072021</span
            >
          </li>
          <li>
            Téléphone :<span
              class="text-uppercase fw-bold"
              style="color: #2a5b97"
              >+237 6 52 10 98 85 / +216 52 73 93 85</span
            >
          </li>
          <li>
            Email :<span class="text-uppercase fw-bold" style="color: #2a5b97"
              >emmanuelbenjamin@logonedigital.com</span
            >
          </li>
          <li>
            Site web :<span
              class="text-uppercase fw-bold"
              style="color: #2a5b97"
              ><a
                style="text-decoration: underline; color: #2a5b97"
                href="https://logonedigital.com"
                target="_blank"
                >www.logonedigital.com</a
              ></span
            >
          </li>
          <li>
            Facebook :<span
              class="text-uppercase fw-bold"
              style="color: #2a5b97"
              ><a
                style="text-decoration: underline; color: #2a5b97"
                href="https://www.facebook.com/Logonedigital/"
                target="_blank"
                >logonedigital</a
              ></span
            >
          </li>
          <li>
            linkedIn :<span
              class="text-uppercase fw-bold"
              style="color: #2a5b97"
              ><a
                style="text-decoration: underline; color: #2a5b97"
                href="https://www.linkedin.com/company/logonedigital/"
                target="_blank"
                >logonedigital</a
              ></span
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<div class="section padding-top-0">
  <div class="container">
    <div class="row g-4">
      <div class="col-12">
        <h5 style="text-align: center">CONDITIONS GÉNÉRALES D’UTILISATION</h5>
        <p style="text-align: justify">
          Toutes les présentes conditions s’appliquent pour l’ensemble du site
          <a
            style="text-decoration: underline; color: #2a5b97"
            href="https://capitalrhsolutions.com"
            target="_blank"
            >www.capitalrhsolutions.com</a
          >, incluant les sous-domaines et autres noms de domaine appartenant à
          capital rh solutions.
        </p>
        <h6>condition de reprise du contenu</h6>
        <p style="text-align: justify">
          Tout contenu, images, logos, noms de domaines, articles, associés au
          nom de marque
          <a
            style="text-decoration: underline; color: #2a5b97"
            href="https://capitalrhsolutions.com"
            target="_blank"
            >www.capitalrhsolutions.com</a
          >
          appartient à la société
          <span class="bold-text">CAPITAL RH SOLUTION</span> et est protégé par
          les lois en vigueur relatives à la propriété intellectuelle. La
          reprise de ces contenus doit faire l’objet d’une autorisation de la
          société <span class="bold-text">CAPITAL RH SOLUTION</span>. Aucune
          élément graphique, image, texte, composant le site internet
          <a
            style="text-decoration: underline; color: #2a5b97"
            href="https://capitalrhsolutions.com"
            target="_blank"
            >www.capitalrhsolutions.com</a
          >
          ne peut être repris et utilisé sur un autre support que
          <a
            style="text-decoration: underline; color: #2a5b97"
            href="https://capitalrhsolutions.com"
            target="_blank"
            >www.capitalrhsolutions.com</a
          >
          de manière partielle ou intégrale, sans autorisation écrite de la
          société
          <span class="bold-text">CAPITAL RH SOLUTION</span>.
        </p>
        <h6>Liens hypertextes et référencement naturel</h6>
        <p style="text-align: justify">
          Notre équipe d’experts SEO veillent chaque jour à ce que les liens
          hypertextes postés sur notre site internet et dans nos articles de
          blog fonctionnent et dirigent correctement vers leur page de
          destination. Cependant, si vous remarquez des liens cassés, n’hésitez
          pas à nous le faire remarquer en nous envoyant un e-mail à cette
          adresse : contact@scooposferaga.fr Toute stratégie de netlinking
          abusive visant à diriger des liens hypertextes de mauvaise qualité
          vers les sites de
          <a
            style="text-decoration: underline; color: #2a5b97"
            href="https://capitalrhsolutions.com"
            target="_blank"
            >www.capitalrhsolutions.com</a
          >
          est passive de poursuite judiciaire de notre part. Les directeurs de
          publication de <span class="bold-text">CAPITAL RH SOLUTION</span> ne
          peuvent être tenus pour responsable d’un préjudice né de
          l’interprétation d’une information pouvant figurer sur le site
          <a
            style="text-decoration: underline; color: #2a5b97"
            href="https://capitalrhsolutions.com"
            target="_blank"
            >www.capitalrhsolutions.com</a
          >
        </p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<div class="section padding-top-0">
  <div class="container">
    <div class="row g-4">
      <div class="col-12">
        <h5 style="text-align: center">
          POLITIQUE DE CONFIDENTIALITÉ ET DONNÉES PERSONNELLES
        </h5>
        <h6>Commentaires</h6>
        <p style="text-align: justify">
          Lorsque vous déposez un commentaire sur notre site web à la suite d’un
          article de blog, votre adresse IP, navigateur internet et données
          inscrites dans votre commentaire sont automatiquement collectées afin
          de nous permettre de filtrer les commentaires indésirables.
        </p>
        <h6>Formulaires</h6>
        <p style="text-align: justify">
          Lorsque vous entrez en contact avec
          <span class="bold-text">CAPITAL RH SOLUTION</span> via les formulaires
          de contact et de demande de devis présents sur les pages de notre site
          internet, nous collectons les informations inscrites dans les champs
          de ce formulaire de contact, à savoir : votre nom, prénom, site
          internet, numéro de téléphone, et le message renseigné. Ces données
          sont conservées dans des fichiers informatisés afin d’entrer en
          contact plus facilement avec nos clients et prospects. Nous ne
          partageons par ces données avec des supports extérieurs à
          <span class="bold-text">CAPITAL RH SOLUTION</span>.
        </p>
        <h6>Cookies</h6>
        <p style="text-align: justify">
          Nous utilisons Google Analytics afin de mesurer et analyser l’audience
          et le trafic de notre site internet. Cet outil Analytics installe un
          cookie sur le navigateur internet de nos visiteurs afin de collecter
          les données géographiques et de navigation sur le site
          <a
            style="text-decoration: underline; color: #2a5b97"
            href="https://capitalrhsolutions.com"
            target="_blank"
            >www.capitalrhsolutions.com</a
          >
          Nous vous conseillons de consulter les Conditions d’Utilisation de
          Google Analytics.
        </p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>

{{ include("./includes/footer.html.twig") }}

<!-- ***** JAVASCRIPTS ***** -->
{% endblock %}
