<a class="button-text-1 text-danger" href="" data-toggle="modal" data-target="#deleteSkill" >Supprimer</a>
<div class="modal fade" id="deleteSkill" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-2">
            <form class="form-style-5" method="post" action="{{ path('app_profil_delete_skill',{'id':skill.id}) }}" autocomplete="on">
                <div class="modal-header">
                    <h6>⚠️Confirmation de suppresion</h6>
                    <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                <div class="modal-body p-3">
                        <h5>Voulez-vous vraiment supprimer la compétence: {{ skill.title }}</h5>
                </div>
                <div class="modal-footer">
                    <a type="button" class="button button-radius text-bg-danger" data-dismiss="modal">Annuler</a>
                    <input type="hidden" name="token" value="{{ csrf_token('delete-skill') }}"/>
                    <button type="submit" class="button button-xs button-radius button-outline-dark-2">Oui, Je confirme</button>
                </div>
            </form>
        </div>
    </div>
</div>